/* Element Selectors */
a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;   
}

a:hover {
    color: #eaf6f6
}

body {
    color: #40514E;
    margin: 0;
    text-align: center;
    /* Ask foro Verdana and render if available. Else any of sans-serif family */
    font-family: 'Merriweather', serif
}
h1 {
    margin: 50px, auto, 0px, auto;
    margin-bottom: 0px;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66bfbf;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66bfbf;
    padding-bottom: 10px;

}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto 100px auto;
}

p {
    line-height: 2;
}

/* Class Selectors */
.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
    
}

.bottom-cloud {
    position:absolute;
    left: 250px;
    bottom: 300px;
}

/* .dsa-desc {
    clear: left;
} */

/* Button */
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

/* Contact Message */
.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;

}

.dsa-img {
    width: 35%;
    float: left;
    margin-right: 1.875rem;
}

.intro {
    width: 30%;
    margin: auto; 
}

.middle-container {
    margin: 100px 0;
    
}

/* .ml-desc {
    clear: left;
} */

.ml-img {
    width: 35%;
    float:left;
    margin-right: 1.875rem;
}

.pro {
    text-decoration: underline;
}

.profile {
    position: relative;
}

.profile-picture {
    width: 250px;
}

.profile-picture-image-container {
    width: 250px;
    height: 250px;
    background-image: url('../images/profile-picture-4-circular.png'); /* Default image */
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease-in-out;
    margin: auto;
  }
  
.profile-picture-image-container:hover {
background-image: url('../images/profile-picture-4-circular.png'); /* Image on hover */
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.top-container {
    /* background-color: #C6E7FF;   */
    /* background-color: #d4f6ff; */
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}

/* .web-dev-desc {
    clear: right;
} */

.web-dev-img {
    width: 35%;
    float: right;
    margin-left: 1.875rem;
}

