html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
  min-height: 1000px;
  font-family: 'helvetica neue', sans-serif;
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #A683E3;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 100%;
  /* border-color: transparent; */
  /* border: 1px solid #E385A6; */
  background-color: #A683E3;
  color: #fff;
  font-size: 30px;
  border-width: 0;
  text-align: center;
}

button:hover {
  background-color: #8f59eb;
  cursor: pointer;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px) scale(1.01);
}

#delete-button {
  margin: auto;
  width: auto;
  /* border: 1px solid #04fcdf; */
  font-size: 25px;
  border-radius: 5px;       /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
  transition: box-shadow 0.3s ease;
  border-width: 0;
  
}

#delete-button:hover {
  background-color: #8f59eb;
  cursor: pointer;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px) scale(1.01);
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

.item.delete {
  border: 0;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 0;
}

@media (max-width: 400px)
{
  button {
    position: relative;
    right: 0.5rem;
  }


  #delete-button {
    position: static;
    min-height: none;
    min-width: none;
    padding: 0.5rem;
  }
}
