<%- include("header") -%>
<div class="box" id="heading"><h1><%= kindOfDay %></h1></div>

<div class="box">
  <% for (var i = 0; i < tasks.length; i++) { %>
  <div class="item">
    <input type="checkbox" />
    <p><%= tasks[i] %></p>
  </div>
  <% } %>

  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Task" required />
    <button type="submit">+</button>
  </form>
</div>
<form class="item delete" method="post" action="/reset">
  <button id="delete-button" type="submit">Delete all tasks</button>
</form>

<%- include("footer") -%>
